<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
   		 id="OWL2QueryView"
         point="org.protege.editor.core.application.ViewComponent">
      <label value="OWL2Query"/>
      <class value="cz.cvut.kbss.owl2query.protege.OWL2QueryView"/>
      <headerColor value="@org.protege.ontologycolor"/>
      <category value="@org.protege.querycategory"/>
   </extension>

   <extension
         id="OWL2QueryTab"
         point="org.protege.editor.core.application.WorkspaceTab">
      <label
            value="OWL2Query Tab">
      </label>
      <class
            value="cz.cvut.kbss.owl2query.protege.OWL2QueryTab">
      </class>
      <index
            value="X">
      </index>
      <editorKitId
            value="OWLEditorKit">
      </editorKitId>
      <defaultViewConfigFileName
            value="viewconfig-owl2queryTab.xml">
      </defaultViewConfigFileName>
   </extension>
</plugin>
